@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Largeur de la barre de défilement */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Couleur de la piste */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur du curseur */
    border-radius: 10px; /* Arrondir les bords du curseur */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Couleur du curseur au survol */
  }
  
  /* Styles pour Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

